* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
boby {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px 10px 90px;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    color: #666666;
}
.nav1 h4{
    margin-top: 3px;
    font-weight: 400;
}

.nav-1 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-1 p{
    font-size: 20px;
    font-weight: 500;
}
.nav-1 img {
    height: 25px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #666666;
}
.nav2 h4{
    margin-top: 3px;
    font-weight: 400;
    font-size: 13px;
}
.nav2 h4 i{
    margin-top: 3px;
    font-weight: 400;
    font-size: 20px;
}
.nav2 button{
    padding: 10px 10px;
    border-radius: 50%;
    border: 1px solid #707070;
    background: transparent;
}
.nav2 button i{
    font-size: 13px;
     font-weight: 200;
}
.hero{
    background-image:url(./Highlight-Surface-Laptop-AI-7Ed-Sapphire-MC001-3000x1682:VP5-1920x600.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc();
    height: 460px;
    border: 1px solid white;
}
.text{
    width: 27rem;
    margin-top: 9%;
    margin-left: 9%;
}
.text h1{
    font-size: 36px;
    font-weight: 500;
}
.text p{
     margin-top: 20px;
     font-weight: 300;
}
.text button{
 margin-top: 20px;
 padding: 15px 20px;
 font-size: 15px;
 background-color:#0267B7 ;
 border: none;
 color: white;
}
.arrr{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
margin-top: 20px;
}
.ri-pause-circle-line{
    font-size: 25px;
}
.ri-arrow-right-s-line{
    font-size: 30px;
}
.ri-arrow-drop-left-line{
    font-size: 45px;
}
.svg-link{
    display: flex;
    align-items: center;
    justify-content: center;
        gap: 60px;
        margin-top: 50px;
}
.svg-link i{
    font-size: 35px;
}
.card-main{
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 50px;
    gap: 30px;
    margin-top: 70px;
}
.card-1{
     box-shadow: 2px 2px 6px rgb(190, 190, 190);
}
.link-1{
    display: flex;
    flex-direction:column;
    gap: 20px;
    align-items: center;
}
.upper img{
    height:10.3rem;
}
.lower{
    margin-top: 30px;
}
.lower h3{
    font-size: 30px;
    width: 80%;
    font-size: 35px;
    font-weight: 500;
    margin-left: 20px;
}
.lower p{
    font-weight: 100;
     margin-left: 20px;
      margin-top: 18px;
}

.lower button{
     margin-left: 20px;
     padding: 15px 25px;
     margin-top: 20px;
     background-color: #0267B7;
     border: none;
     color: white;
}